html {
  background-color: rgb(33, 33, 33);

  /* font-family: '"Rajdhani", "Roboto", "Helvetica", "Arial", "sans-serif"';
  font-weight: 400;
  line-height: 1.5; */
}

.body {
  height: 100%;

  color: white;
  background-color: rgb(33, 33, 33);
}

/* Color Of Text In React-Select In Player Select */
#root
  > div
  > div.css-2b097c-container
  > div
  > div.css-1hwfws3
  > div.css-1uccc91-singleValue {
  color: white;
}

/* React-Select In Last Ten Games Chart Section  */
#root
  > div
  > div:nth-child(5)
  > div:nth-child(2)
  > div
  > div
  > div.css-1hwfws3
  > div {
  widows: 60px;
  color: white;
}

/* Color Of Text In React-Select In Last Ten Section  */

#root > div > div > div > div.jss86 > h4 {
  font-family: "Rajdhani", "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  line-height: 1.5;
}
.styled-text {
  border: 2px solid yellow;
  min-width: 0;
}
