html {
  background-color: rgb(33, 33, 33);

  /* font-family: '"Rajdhani", "Roboto", "Helvetica", "Arial", "sans-serif"';
  font-weight: 400;
  line-height: 1.5; */
}

.body {
  height: 100%;

  color: white;
  background-color: rgb(33, 33, 33);
}

/* Color Of Text In React-Select In Player Select */
#root
  > div
  > div.css-2b097c-container
  > div
  > div.css-1hwfws3
  > div.css-1uccc91-singleValue {
  color: white;
}

/* React-Select In Last Ten Games Chart Section  */
#root
  > div
  > div:nth-child(5)
  > div:nth-child(2)
  > div
  > div
  > div.css-1hwfws3
  > div {
  widows: 60px;
  color: white;
}

/* Color Of Text In React-Select In Last Ten Section  */

#root > div > div > div > div.jss86 > h4 {
  font-family: "Rajdhani", "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  line-height: 1.5;
}
.styled-text {
  border: 2px solid green;
  /* max-width: 50%;
  min-width: 20%; */
}

/* #root > div > div.css-2b097c-container > div.css-26l3qy-menu {
  height: 500px;
  overflow: scroll;
} */

/* Custom ToolTip For Line Chart */
.recharts-tooltip-wrapper .custom-tooltip {
  line-height: 5px;
  border: 1px solid #f5f5f5;
  background-color: rgb(33, 33, 33);
  padding-bottom: 0%;
}
